<link rel="stylesheet" type="text/css" href="{{ store_url }}catalog/view/theme/default/stylesheet/ezpay.css">
<script src="{{ store_url }}catalog/view/javascript/ezpay.js"></script>
<div class="payment-form-wrapper">
	<input type="hidden" id="url-check-order-complete" value="{{ url_check_order_complete }}">
	<input type="hidden" id="order-id" value="{{ order_id }}">
	<div class="ezpay-select-coin-box">
		<div class="ezpay-select-coin__list">
			<table class="table">
				{% for coin_config in coins_config %}
					<tr>
						<td>
							<input type="radio" name="coin-selected-to-order" value="{{ coin_config.ezpay_coin_id }}" data-discount="{{ coin_config.discount }}">
						</td>
						<td>
							<img src="{{ coin_config.logo }}" alt="" class="ezpay-select-coin__logo">
						</td>
						<td>{{coin_config.name}}</td>
						<td>{{coin_config.full_name}}</td>
						<td> Discount {{ coin_config.discount }}%</td>
						<td>
							<a href="#" data-toggle="tooltip" title="Description"><i class="fa fa-info" aria-hidden="true"></i></a>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>

		<a href="#" class="ezapy-guide-link">{{ text_guide }}</a>

		<button class="ezpay-btn-create-payment" data-url_create_payment="{{ url_create_payment }}" disabled> Tiếp theo </button>
	</div>

	<div class="ezpay-payment-box">
		<div class="ezpay-payment__header">
			<img src="https://s2.coinmarketcap.com/static/img/coins/64x64/3957.png" alt="" class="ezpay-payment__coin-logo tooltip-show-discount" data-toggle="tooltip" title="Discount: 0%">
			<span class="ezpay-payment__coin-name tooltip-show-discount" data-toggle="tooltip" title="Discount: 0%" ></span>
			<span class="wide-space"></span>
			<button class="ezpay-payment__btn-charge-coin">{{ text_charge }}</button>
		</div>

		<div class="ezpay-charge-coin-box margin-top-md">
			<div class="ezpay-select-coin__list">
				<table class="table">
					{% for coin_config in coins_config %}
						<tr>
							<td>
								<input type="radio" name="coin-selected-to-order" value="{{ coin_config.ezpay_coin_id }}" data-discount="{{ coin_config.discount }}">
							</td>
							<td>
								<img src="{{ coin_config.logo }}" alt="" class="ezpay-select-coin__logo">
							</td>
							<td>{{coin_config.name}}</td>
							<td>{{coin_config.full_name}}</td>
							<td> Discount {{ coin_config.discount }}%</td>
							<td>
								<a href="#" data-toggle="tooltip" title="Hooray!"><i class="fa fa-info" aria-hidden="true"></i></a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			<button class="ezpay-btn-create-payment margin-top-md" data-url_create_payment="{{ url_create_payment }}" disabled> Confirm </button>
		</div>

		<div class="ezpay-payment__content">
			<div class="ezpay-payment__value">
				<span class="ezpay-payment__origin-value"></span>
				<span class="ezpay-payment__icon-convert"><i class="fa fa-retweet" aria-hidden="true"></i></span>
				<span class="ezpay-payment__currency-value"></span>
			</div>
			<div class="ezpay-payment__countdown-box">
				<input type="hidden" id="payment-id">
				{{ text_notify_countdown_for_payment }}
			</div>
			<img src="" alt="" class="ezpay-payment__qr-code">
			<div class="ezpay-payment__download-link">
				<a href="{{ link_download_app_ios }}">{{ text_download_app_ios }}</a>
				<a href="{{ link_download_app_android }}">{{ text_download_app_android }}</a>
			</div>
		</div>
	</div>
</div>
